/* --- 
CSS Reset Starts. 
Taken from https://www.joshwcomeau.com/css/custom-css-reset/
--- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* --- CSS Reset Ends --- */

html {
  font-family: system-ui;
  color: rgb(35, 28, 51);
  font-size: 16px;
}

a {
  color: inherit;

  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color: #bbbbbb;
}

a:hover {
  text-decoration-color: #646464;
}

header {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  gap: 3.25rem;

  padding-top: 8rem;
  padding-bottom: 6rem;

  background-image: url("stacked-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);

  > img.photo {
    max-width: 180px;
    border-radius: 8px;
    border: 4px solid #f9f9f9;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    transform: rotate(-5deg);
  }

  > div.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.95);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  > div.introduction > h1.name {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  > div.introduction > h2.tagline {
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

div.dock {
  display: flex;
  align-items: center;
  max-width: fit-content;
  gap: 0.6rem;

  background: rgba(255, 255, 255, 0.95);
  padding: 0.6rem 1.8rem;
  border-radius: 0.6rem;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

  color: #0090ff;
  font-weight: 500;
  font-size: 0.9rem;

  & svg {
    width: 1.3em;
    height: auto;
    stroke-width: 1.8;
  }

  > a {
    text-decoration: none;
  }

  > .separator {
    color: #bbb;
  }
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  max-width: min(90vw, 680px);

  margin-left: auto;
  margin-right: auto;
}

.content-area > main {
  margin-top: 4rem;
  font-size: 1.1rem;
  font-weight: 400;

  > *:not(:first-child):not(h2) {
    margin-top: 1.5rem;
  }

  > h2 {
    margin-top: 5rem;
  }

  .heading-with-time {
    display: flex;
    align-items: baseline;
    column-gap: 0.8em;
    row-gap: 0.1em;
    flex-wrap: wrap;

    > span.time {
      font-size: 0.6em;
      font-weight: 500;
      color: #646464;
    }

    > span.time.card-head {
      font-size: 0.8em;
    }
  }
}

.content-area > main .card {
  display: flex;
  align-items: center;
  gap: 1.65rem;

  font-size: 0.8em;

  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;

  padding: 1rem 0.5rem;
  position: relative;

  > img {
    margin-left: 1rem;
    max-width: 42px;
    height: auto;
    border: 1px solid transparent;
    border-radius: 0.4rem;
  }

  > .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  > .text > .head {
    font-weight: 500;
  }
  > .text > .description > * {
    margin-top: 0.5rem;
  }

  .stamp-failed {
    transform: rotate(-15deg);
    position: absolute;
    opacity: 0.25;
    top: 0.2rem;
    right: 8rem;
  }
}

li {
  margin-bottom: 1rem;
  font-weight: 500;

  &::marker {
    color: #ec9455;
  }
}

.content-area > footer {
  margin: 4rem 0;
  font-size: 0.8rem;
}
