/* Home page CSS */
body {
  font-family: sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 56px;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 18px;
}

.hero {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  max-width: 0%;
  max-height: 0%;
}

nav a {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 32px 0 0 0;
  font-size: 32px;
}

.social {
  text-align: center;
}

.social img {
  width: 52px;
  margin: 0 62px 0 62px;
}

main {
  margin-left: 20%;
  width: 75%;
}

/* Projects section CSS */
.project {
  border: 1px solid;
  margin: 5%;
  padding: 2%;
}

.project figure img {
  width: 50%;
  border: 1px solid;
}
